---
---

@import "normalize";
@import "typeplate-index";

body {
  max-width: 45rem;
  margin: 0px auto;
  padding: 0 1rem;
  font-family: georgia,serif;
}

h1 {
  margin-top: 5rem;
}

// Table of contents
ul:first-of-type {
  list-style-type: none;
  margin-left: 0.75rem;
  padding-left: 0.75rem;
}

pre {
  background-color: lightgrey;
  padding: 2rem;
  margin: 0 -1rem;
  font-size: 90%;
}

#table-of-contents + ul {
  display: none;
}

#table-of-contents.show + ul {
  display: block;
}

.toc-ellipsis.hide {
  display: none;
}

// Overrides

p + p {
  text-indent: 0rem;
  margin-top: 0rem;
}