---
---

@import "normalize";
@import "typeplate-index";

body {
  max-width: 45rem;
  margin: 0px auto;
  padding: 0 1rem;
  font-family: georgia,serif;
}

h1 {
  margin-top: 5rem;
}

h2, h3, h4, h5 {
  a {
    color: #222;
    text-decoration: none;
  }

  a:hover::after {
    content: "🔗";
    font-size: 1rem;
    text-decoration: none;
    margin-left: 0.5rem;
  }
}

img {
  max-width: 20rem;
  margin: 0 0 0 1rem;
  float: right;
}

@media only screen
  and (max-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait) {
  img {
    max-width: 40rem;
    float: none;
    margin: 0 auto;
    display: block;
  }
}

.sub-heading {
  position: relative;
  top: -1rem;
  line-height: 1rem;
  font-size: larger;
}

hr {
  margin: 3rem 0;
}

// Table of contents
ul:first-of-type {
  list-style-type: none;
  margin-left: 0.75rem;
  padding-left: 0.75rem;
}

pre, .fact-box {
  background-color: lightgrey;
  padding: 2rem;
  margin: 2rem -1rem;
}

body > p:last-of-type {
  margin-bottom: 10rem;
}

// Overrides

p + p {
  text-indent: 0rem;
  margin-top: 0rem;
}