<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Microservice Websites</title>
    <link rel="stylesheet" href="css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://gustafnk.github.io/microservice-websites/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Microservice Websites">
    <meta property="og:description" content="Building consumer-facing websites with multiple teams">
    <meta property="og:image" content="https://gustafnk.github.io/microservice-websites/assets/microservice-website-share.png">
  </head>
  <body>
    {{ content }}
  </body>
</html>
